.title{
    background-color: green;
    /*text-align: center; */
    margin: 0;
}

body{
    margin:0;
    height:100vh;
    display:flex;
    flex-direction: column;
}

.section1{
    display:flex;
    flex:1;
    background-color: blue;
    justify-content: center;
    align-items: center;

}

.sketchContainer{
    background-color: yellow;
    color: blue;
    flex: 0 0 auto;
    width: 80%;
    height: 80%;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.box{
    color:red;
    background-color: black;
    opacity: 0;

}

.highlight{
    background-color: brown;
}