.title{
    background-color: rgb(253, 253, 253);
    text-align: center;
    margin: 0;
}

body{
    margin:0;
    height:100vh;
    display:flex;
    flex-direction: column;
    cursor:auto;
    
}

#howToPlay{
    display:flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
    text-align:left;
    font-size: large;
    max-height: 40%;
    min-width: 500px;
    flex: 0 0 auto;
}


#tom{
    min-width:200px;
    padding-left: 10px;
    max-height: 200px;
}

#numberOfSquaresButton{
    background-color: blue;
    color:white;
    width: fit-content;
    font-size: large;
    margin-top: 50px;
}

#buttonContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}


.section1{
    display:flex;
    flex:1;
    background-color: white;
    justify-content: center;
    align-items: center;
    min-height: 60%;
}

.sketchContainer{
    background-color: rgb(217, 217, 217);
    color: rgba(157, 157, 169, 0.14);
    width: 500px;
    height: 500px;
    padding: 0px;
    margin: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
}

.box{
    color:red;
    background-color: black;
    opacity: 0;


}

.highlight{
    background-color: brown;
}