.title{
    background-color: green;
    /*text-align: center; */
    margin: 0;
}

body{
    margin:0;
    height:100vh;
    display:flex;
    flex-direction: column;
}

.section1{
    display:flex;
    flex:1;
    background-color: blue;
    /* align-items:stretch; */

}

.sketchContainer{
    background-color: yellow;
    color: blue;
    flex: 0 0 auto;
    width: 500px;

    padding: 70px;
    margin: 20px;


}